---
import projects from "../data/projects.json";
import articles from "../data/articles.json";
import Title from '../components/Title.astro';
---

<div class="wrapper wrapper--fullbleed">
    <div class="grid">
        <div class="skin-1">
            <Title headingLevel="3" headingText="projects" />
            <ul class="stack">
                {projects.map((project) =>
                    <li class="stack stack--gutter-s">
                        <a href={project.url}>{project.name}</a>
                        <span class="tag">({project.tag})</span>
                        <span class="description">{project.description}</span>
                    </li>
                )}
            </ul>
        </div>
        <div class="skin-1">
            <Title headingLevel="3" headingText="articles" />
            <ul class="stack">
                {articles.map((article) =>
                    <li class="stack stack--gutter-s">
                        <a href={article.url}>{article.name}</a>
                        <span class="tag">({article.tag})</span>
                        <span class="description">{article.description}</span>
                    </li>
                )}
            </ul>
        </div>
    </div>
</div>

<style>
    .wrapper--fullbleed {
        padding-inline: var(--gutter-clamp-xl);
    }

    .grid {
        --grid-gap: var(--gutter-clamp-xl);
    }

    :is(.tag, .description) {
        font-size: var(--type-font-size-s);
    }

    .tag {
        font-style: italic;
    }

    .description {
        display: block;
        margin-inline: var(--gutter);
    }
</style>
